<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>canvas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96AB0E481C755E8F00497FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96AB0E5C1C755E9000497FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96AB0E671C755E9000497FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
